

body {
	display: flex;
	flex-direction: column;
	align-items: center;
  background-color: #423031;
  color: beige;

}

iframe, object, embed {
    max-width: 100%;
}

#errorCode{
  display: none;
}
